<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form method = "POST">

		{% csrf_token %}
		<p>
			<label> Input new name</label>
			<input type="text" name="name" value="{{student.name}}" />
		</p>
		
		<p>
			<label>Input new date</label>
			<input type="number" name = "age" value = "{{student.birth_date}}" />
		</p>
		<input type="submit" value="Save">
	</form>
</body>
</html>