<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form method = "POST">
		{% csrf_token %}
		<p>
			<label> Input new name</label>
			<input type="text" name="name" value="{{student.name}}" />
		</p>
		
		<p>
			<label>Input new date</label>
			<input type="number" name = "age" value = "{{student.age}}" />
		</p>
		<input type="submit" value="Save">
	</form>
	<br>
	<form metod = "POST" action="delete/{{student.id}}">
		<input type="Submit" value="Delete student">
	</form>

	<a href="/">HOME</a>
</body>
</html>