<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Student Info</title>
</head>
<body>

	<h1>Student Info</h1>
	<p>Name: {{student.name}}</p>
	<p>Age: {{student.age}}</p>
	<p>Email: {{student.email}}</p>

	<h2>Chosen courses:</h2>
		<ul>
			{% for course in courses %}
				<li><a href="course_student/{{course.name}}">{{course.name}}</a></li>
			{% endfor %}
		</ul>
		
	

	<form action="edit/{{student.id}}">
		{% csrf_token %}
		<input type="submit" value="Edit">
	</form>

	<a href="/">HOME</a>
</body>
</html>